body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
}
#bgCanvas{
  border: 1px solid #000;
}
#aircraftCanvas{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border: 1px solid red;
}
#bulletCanvas{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border: 1px solid green;
}
#enemyCanvas{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  border: 1px solid cyan;
}
